<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="Sign In page">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/<%= css %>">
</head>

<body>
    <div class="nav">
        <h2>.Blogger</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create-post">Create Post</a></li>
            <li><a href="/auth/signup">Sign Up</a></li>
            <li><a href="/auth/signin">Sign In</a></li>
        </ul>
    </div>