<%- include('layouts/header') %>

<div class="container">
    <h1>Create post</h1>
    <form>
        <input type="text" placeholder="Title">
        <textarea placeholder="Write your post here"></textarea>
        <div class="buttons">
            <input type="submit" value="Post">
        </div>
    </form>
</div>

<%- include('layouts/footer') %>