<%- include('layouts/header') %>

<div class="container">
    <h1>All Posts</h1>
    <div class="post-container">
        <div class="post-header">
            <div>
                <h1>Post Title</h1>
                <small><em>18 April 2021 11:00 PM</em></small>
            </div>
            <div class="post-options">...</div>
        </div>
        <div class="post-content">
            <p>
                Post Content<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In, atque? Consequuntur totam
                tempora, possimus
                corrupti unde aspernatur. Quisquam, numquam velit consequatur, delectus perferendis at ut, illo sit
                inventore consectetur expedita!
            </p>
        </div>
        <div class="post-footer">
            <h4>Abdullah Adel</h4>
        </div>
    </div>
    <div class="post-container">
        <div class="post-header">
            <div>
                <h1>Post Title</h1>
                <small><em>18 April 2021 11:00 PM</em></small>
            </div>
            <div class="post-options">...</div>
        </div>
        <div class="post-content">
            <p>
                Post Content<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In, atque? Consequuntur totam
                tempora, possimus
                corrupti unde aspernatur. Quisquam, numquam velit consequatur, delectus perferendis at ut, illo sit
                inventore consectetur expedita!
            </p>
        </div>
        <div class="post-footer">
            <h4>Abdullah Adel</h4>
        </div>
    </div>
    <div class="post-container">
        <div class="post-header">
            <div>
                <h1>Post Title</h1>
                <small><em>18 April 2021 11:00 PM</em></small>
            </div>
            <div class="post-options">...</div>
        </div>
        <div class="post-content">
            <p>
                Post Content<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In, atque? Consequuntur totam
                tempora, possimus
                corrupti unde aspernatur. Quisquam, numquam velit consequatur, delectus perferendis at ut, illo sit
                inventore consectetur expedita!
            </p>
        </div>
        <div class="post-footer">
            <h4>Abdullah Adel</h4>
        </div>
    </div>
    <div class="post-container">
        <div class="post-header">
            <div>
                <h1>Post Title</h1>
                <small><em>18 April 2021 11:00 PM</em></small>
            </div>
            <div class="post-options">...</div>
        </div>
        <div class="post-content">
            <p>
                Post Content<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In, atque? Consequuntur totam
                tempora, possimus
                corrupti unde aspernatur. Quisquam, numquam velit consequatur, delectus perferendis at ut, illo sit
                inventore consectetur expedita!
            </p>
        </div>
        <div class="post-footer">
            <h4>Abdullah Adel</h4>
        </div>
    </div>
    <div class="post-container">
        <div class="post-header">
            <div>
                <h1>Post Title</h1>
                <small><em>18 April 2021 11:00 PM</em></small>
            </div>
            <div class="post-options">...</div>
        </div>
        <div class="post-content">
            <p>
                Post Content<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In, atque? Consequuntur totam
                tempora, possimus
                corrupti unde aspernatur. Quisquam, numquam velit consequatur, delectus perferendis at ut, illo sit
                inventore consectetur expedita!
            </p>
        </div>
        <div class="post-footer">
            <h4>Abdullah Adel</h4>
        </div>
    </div>
</div>

<%- include('layouts/footer') %>