body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(220deg, rgba(231, 65, 23, 0.774), rgba(241, 11, 145, 0.651)), url('../images/bg4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* post container side */
.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 25px;
    padding: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(66, 64, 64);
    font-weight: 400;
}

textarea {
    display: block;
    width: 80%;
    height: 10em;
    padding: 2%;
    margin: 2% auto;
    border: 1px solid orange;
    outline: none;
    resize: none;
}

input {
    display: block;
    margin: 2% auto;
}

input[type="submit"] {
    width: 35%;
    padding: 1%;
    margin: auto;
    background-image: linear-gradient(220deg, rgba(231, 65, 23, 0.774), rgba(241, 11, 145, 0.651));
    border: none;
    color: white;
    outline: none;
    font-size: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 2%;
    border: 1px solid orange;
    outline: none;
}

.buttons {
    padding: 2%;
}