body {
    background-image: linear-gradient(220deg, rgba(231, 65, 23, 0.774), rgba(241, 11, 145, 0.651)), url('../images/bg4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* post container side */
.container {
    margin: 7% 6%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container>h1 {
    color: white;
    font-size: 3rem;
}

.post-container {
    margin: 2% 0;
    padding: 1% 2%;
    background-color: white;
    color: #3a3a3a;
}

.post-container small {
    font-size: 0.7rem;
}

.post-container>div {
    margin-bottom: 1%;
}

.post-head {
    position: relative;
}

.post-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

.post-options {
    font-size: 2.5rem;
    line-height: 0;
    cursor: pointer;
}

.post-content {
    font-size: 1.2rem;
    text-align: justify;
}

.post-footer h4 {
    text-align: right;
    cursor: pointer;
}