<%- include('../layouts/header') %>

<div class="container">
    <h1>Create your own post</h1>
    <input type="text" placeholder="title">
    <textarea placeholder="Write your text here"></textarea>
    <div class="buttons">
        <input type="submit" value="Post">
    </div>
</div>

<%- include('../layouts/footer') %>