<%- include('../layouts/header') %>

<div class="container">
    <h1>Register Form</h1>
    <form>
        <div class="inputs">
            <input id="1" type="text" placeholder=" username">

            <input type="password" placeholder=" password">

            <input type="password" placeholder=" Confirm password">

            <input type="email" placeholder=" Email">

            <input type="date">

            <select>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <div class="buttons">
            <input type="submit" value="Sign up">
        </div>

    </form>
</div>

<%- include('../layouts/footer') %>